@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Wallpoet');
@import url('https://fonts.googleapis.com/css?family=Quantico');
@import url('https://fonts.googleapis.com/css?family=KoHo');
@import url('https://fonts.googleapis.com/css?family=Baloo Bhai 2');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: auto;
  font-family: KoHo,Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
	font-weight:light;
  color: $body-text-color;
}

#skip-to-content {
  height: 1px;
  width: 2px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

figure {
  margin: 0;
  float:left;
  text-align: center;
  width:50%;
}

.container img {
	max-width : 100%;
}

figcaption {
  border-bottom: none;
  font-size: 12px;
  font-weight:light;
  text-align: center;
  display : block;
  padding : 0 10% 0 10%;
}

.clearfix::after{
	content :"";
	display : table;
	clear: both;
}

a{
	color: #5A5E6B;
	text-decoration: none;
	font-weight: 900;
 @include small {
	 color:#2D241E;
	 font-weight:1000;
	}
}
a:hover{
	color: #800000;
}

.typedtext{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family :  Quantico,Helvetica, Arial, sans-serif;
    color: #8B0000;
    font-size: 2.5rem;
}

.typewriter hp1 {
  color: #8B0000;
  font-size: 2.5rem;
  font-family :  Quantico,Helvetica, Arial, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid $body-text-color; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s steps(30, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8B0000 }
}

/*.nowrap {
        flex: 1;
        width: 10px;
        float: left;
    }

    .container {
        display: flex;
    }
*/
   .content p {
        border-right: .15em solid #5A5E6B;
	margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #8B0000;
    font-size: 2.5rem;
    white-space:nowrap;

	   @include small {
   font-size: 2rem;
  }
        font-family:  Quantico,Helvetica, Arial, sans-serif;
        font-size: 2.5rem;
        overflow: hidden;
}
        .content p:nth-child(1) {
        width: 16em;
        -webkit-animation: type 3s steps(30, end), blink .3s step-end infinite alternate;
        animation: type 3s steps(30, end), blink .3s step-end infinite alternate;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      .content p:nth-child(2) {
        width: 11.5em;
        opacity: 0;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      .content p:nth-child(3) {
        width: 7.3em;
        opacity: 0;
        -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
        animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      @keyframes type {
        0% {
          width: 0;
        }
        99.9% {
          border-right: .15em solid #5A5E6B;
        }
        100% {
          border: none;
        }
      }
      @-webkit-keyframes type {
        0% {
          width: 0;
        }
        99.9% {
          border-right: .15em solid #5A5E6B;
        }
        100% {
          border: none;
        }
      }
      @keyframes type2 {
        0% {
          width: 0;
        }
        1% {
          opacity: 1;
        }
        99.9% {
          border-right: .15em solid #5A5E6B;
        }
        100% {
          opacity: 1;
          border: none;
        }
      }
      @-webkit-keyframes type2 {
        0% {
          width: 0;
        }
        1% {
          opacity: 1;
        }
        99.9% {
          border-right: .15em solid #5A5E6B;
        }
        100% {
          opacity: 1;
          border: none;
        }
      }
      @keyframes type3 {
        0% {
          width: 0;
        }
        1% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes type3 {
        0% {
          width: 0;
        }
        1% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      @-webkit-keyframes blink {
        50% {
          border-color: tranparent;
        }
      }


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: black;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url('https://www.imo.universite-paris-saclay.fr/~destagnol/Erreur.png');
  background-size: cover;
  background-opacity:0.6;
  height:260px;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
    height:122px;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 100%;
    padding: 2rem 3rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    max-width: 79%;
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  
  kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }
hprime {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #8B0000;
    font-size: 3.4rem;
    font-family : Quantico,Helvetica, Arial, sans-serif;
	@include small {
   font-size: 2.5rem;
  }
  }
hprime2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #8B0000;
    font-size: 2.5rem;
    font-family :  Quantico,Helvetica, Arial, sans-serif;
	@include small {
   font-size: 2rem;
  }
  }
	
hpr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #8D0000;
    font-size: 3.9rem;
    font-family : "Open Sans", "Helvetica Neue",Helvetica, Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #8D0000;
    font-family : KoHo,Helvetica, Arial, sans-serif;
  }

  h7 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    
    color: $section-headings-color;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bolder;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bolder;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  font-family: KoHo,Helvetica, Arial, sans-serif;
  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bolder;
}

.site-footer-credits {
  color: $blockquote-text-color;
}
