<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <main id="content" class="main-content" role="main">
      <center>
      <hprime class="project-name">Géométrie DM I</hprime>
	      <hprime2 class="project-name">
        <div id="typedtext" style="font-family: Quantico,Helvetica, Arial, sans-serif;"></div>
        </hprime2>
      <!--<hprime2 class="project-name">{{ page.description | default: site.description | default: site.github.project_tagline }}</hprime2>-->
      </center>
	    <br>
	    <br>
	    <ul>
		    <li> Un petit <a href="https://www.imo.universite-paris-saclay.fr/~destagnol/noeuds_toriques.html">script</a> Geogebra pour visualiser les noeuds <math><msub><mi>C</mi><mi>p,q</mi></msub></math> en faisant bouger les curseurs correspondants;</li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>1,1</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c11.mov">
</video> 
</p>
	    </br></li>
	<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>1,2</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c12.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>1,3</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c13.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>1,4</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c14.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>2,1</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c21.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>3,1</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c31.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>4,1</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c41.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>2,3</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c23.mov">
</video> 
</p>
	    </br></li>
<li>   On donne ici une représentation de <math><msub><mi>C</mi><mi>3,2</mi></msub></math> : 
</br>
<p class="flotte" style="text-align:center">
 <video controls class="video-container" width="1000">
  <source alt="Animation exp" src="c32.mov">
</video> 
</p>
	    </br></li>
	</ul>
	    
      <footer class="site-footer">
        <span class="site-footer-credits" font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
 // set up text to print, each item in array is new line
 /*$(typedtext)[0].innerHTML = "Test";*/
 var aText = new Array(
"Quelques noeuds toriques."
);
var iSpeed = 170; // time delay of print out
var iArrLength = aText[0].length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
var iIndex = 0; // start printing array at this posision
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
 
function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 
 while ( iRow < iIndex ) {
  sContents += aText[iRow++] + '<br />';
 }
 if (iTextPos++<aText[iIndex].length-1){
 $(typedtext)[0].innerHTML = sContents + aText[iIndex].substring(0, iTextPos)+"_";
 $(typedtext)[0].innerHTML = $(typedtext)[0].innerHTML.replace('_', '<span style="color: #5A5E6B;">_</span>');
     iTextPos++
 setTimeout("typewriter()", iSpeed);
}
else {
  $(typedtext)[0].innerHTML = sContents + aText[iIndex].substring(0, iTextPos);
 iTextPos++
 setTimeout("typewriter()", iSpeed);
}
}


typewriter();
typedtext.txt = fullTxt.substring(0, typedtext.txt.length - 1); 
    </script>
  </body>
</html>
