<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

   <div class="page-header5" role="banner">
<div class="login-box">
  <h2>Soumettre un document</h2>
  <form  method="get" action="https://kevindestagnol.github.io/maths254.github.io" id="f">
    <div class="user-box">
      <input type="text" name="firstname" required>
      <label>Prénom</label>
    </div>
    <div class="user-box">
      <input type="text" name="name" required>
      <label>Nom</label>
    </div>
    <label style:"color:#FFFFFF"><c style:"color:#FFFFFF">Choisir le document PDF :</c></label>
      <input type="file" name="pdf" required="true" style="color:transparent; background-color:transparent;box-shadow:none;" onchange="this.style.color = '#8B0000';"
    font-size: 2.5rem;>
    <button type="submit" id="g" style="opacity:0"> </button>
<a style="margin-top:-45px;" href="javascript:;" onclick="document.getElementById('g').click();"> <span> </span><span> </span><span> </span><span> </span>
    Soumettre &checkmark;
    </a>
  </form>
</div>
    </div>
  
  </body>
</html>
