<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

     <div class="page-header5" role="banner">
  <form action="/action_page.php" class="container2">
    <h1>Coordonnées</h1>
    
     <label for="name"><b>Nom</b><span style="color: red;">*</span></label>
    <input type="text" placeholder="Nom" name="name" required>
    
     <label for="firstname"><b>Prénom</b><span style="color: red;">*</span></label>
    <input type="text" placeholder="Prénom" name="firstname" required>

    <label for="email"><b>Email</b><span style="color: red;">*</span></label>
    <input type="text" placeholder="Email" name="email" required>


    <button type="submit" class="btn2">Soumettre  &checkmark;</button>
  </form>
</div>
  
  </body>
</html>
